# Copyright (c) 2021-2024 [Ribose Inc](https://www.ribose.com).
# All rights reserved.
# This file is a part of tamatebako
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
# TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

name: MacOS

on:
  schedule:
    - cron: "0 7 * * 1"
  push:
    branches:  [ main ]
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - .github/workflows/alpine.yml
      - .github/workflows/gem-test-and-release.yml
      - .github/workflows/lint.yml
      - .github/workflows/ubuntu.yml
      - .github/workflows/windows-msys.yml
      - .cirrus.yml
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

env:
  CACHE_VER: 08
  VERBOSE: no

jobs:
  setup:
    name: setup ${{ matrix.env.os }} XCode ${{ matrix.env.xcode }} Ruby ${{ matrix.ruby_ver }}
    runs-on: ${{ matrix.env.os }}
    strategy:
      fail-fast: false
      matrix:
        env:
          - { os: macos-12, xcode: 13.1 }
          - { os: macos-14, xcode: 14.3.1, LG_VADDR: 39 }
          - { os: macos-14, xcode: 15.4 }
        ruby_ver: ['3.2.5', '3.3.4']
    steps:
      - name: Checkout tebako packaging environment
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Setup ci environment
        uses: ./.github/actions/setup-tebako
        with:
          cache: off
          install: off
          ruby_version: ${{ matrix.ruby_ver }}
          xcode: ${{ matrix.env.xcode }}

      - name: Setup development environment
        uses: ./.github/actions/setup-tebako-development
        with:
          path: deps
          os: ${{ matrix.env.os }}
          cc: ruby-${{ matrix.ruby_ver }}-XCode-${{ matrix.env.xcode }}
          version: ${{ env.CACHE_VER }}

      - name: tebako setup
        run: |
          ${{ github.workspace }}/exe/tebako setup -D

  tests-1:
    needs: setup
    name: tests-1 package Ruby ${{ matrix.package_ruby_ver }} on ${{ matrix.env.os }}, XCode ${{ matrix.env.xcode }}, Ruby ${{ matrix.ruby_ver }}
    runs-on: ${{ matrix.env.os }}
    strategy:
      fail-fast: false
      matrix:
        env:
          - { os: macos-12, xcode: 13.1 }
          - { os: macos-14, xcode: 14.3.1, LG_VADDR: 39}
        package_ruby_ver: [ '3.2.5', '3.2.4' ]
        ruby_ver: ['3.2.5']
        include:
          - { env: { os: macos-14, xcode: 15.4 },  ruby_ver: '3.3.4', package_ruby_ver: '3.3.4' }
    steps:
      - name: Checkout tebako packaging environment
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Setup ci environment
        uses: ./.github/actions/setup-tebako
        with:
          cache: off
          install: off
          ruby_version: ${{ matrix.ruby_ver }}
          xcode: ${{ matrix.env.xcode }}
          verbose: ${{ env.VERBOSE }}

      - name: Setup development environment
        uses: ./.github/actions/setup-tebako-development
        with:
          path: deps
          os: ${{ matrix.env.os }}
          cc: ruby-${{ matrix.ruby_ver }}-XCode-${{ matrix.env.xcode }}
          version: ${{ env.CACHE_VER }}

      - name: Shall upload artifacts?
        id: shall-upload
        run: |
          if [ "${{ matrix.package_ruby_ver }}" == "3.2.5" ] && [ "${{ matrix.ruby_ver }}" == "3.2.5" ] && [ "${{ matrix.env.os }}" == "macos-12" ]; then
            echo "upload=true" >> $GITHUB_OUTPUT
          else
            echo "upload=false" >> $GITHUB_OUTPUT
          fi

      - name: Run test set 1
        uses: ./.github/actions/test-set-1
        with:
          upload: "${{ steps.shall-upload.outputs.upload }}"
          verbose: ${{ env.VERBOSE }}

  tests-2:
    needs: setup
    name: tests-2 package Ruby ${{ matrix.package_ruby_ver }} on ${{ matrix.env.os }}, XCode ${{ matrix.env.xcode }}, Ruby ${{ matrix.ruby_ver }}
    runs-on: ${{ matrix.env.os }}
    strategy:
      fail-fast: false
      matrix:
        env:
          - { os: macos-12, xcode: 13.1 }
          - { os: macos-14, xcode: 14.3.1, LG_VADDR: 39}
        package_ruby_ver: [ '3.1.6', '3.2.5' ]
        ruby_ver: ['3.2.5']
        include:
          - { env: { os: macos-14, xcode: 15.4 },  ruby_ver: '3.3.4', package_ruby_ver: '3.3.4' }
    steps:
      - name: Checkout tebako packaging environment
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Setup ci environment
        uses: ./.github/actions/setup-tebako
        with:
          cache: off
          install: off
          ruby_version: ${{ matrix.ruby_ver }}
          xcode: ${{ matrix.env.xcode }}

      - name: Setup development environment
        uses: ./.github/actions/setup-tebako-development
        with:
          path: deps
          os: ${{ matrix.env.os }}-ruby-${{ matrix.ruby_ver }}
          cc: ruby-${{ matrix.ruby_ver }}-XCode-${{ matrix.env.xcode }}
          version: ${{ env.CACHE_VER }}

      - name: Run tebako tests (set no. 2)
        run: |
          RUBY_VER=${{ matrix.package_ruby_ver}} ruby ${{github.workspace}}/tests-2/tebako-test.rb

  cross-tests:
    needs: tests-1
    strategy:
      fail-fast: false
      # Running on MacOS-14 is a test for x86_64 package on arm64 system
      matrix:
        os: [ macos-13, macos-14 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Download test packages
        uses: actions/download-artifact@v4
        with:
          name: test-packages

      - name: Run test packages
        run:  |
          set -o errexit -o pipefail -o noclobber -o nounset
          chmod +x test-*-package
          for TP in test-*-package; do "./$TP"; done
